$liner-gradient: linear-gradient(to bottom, #3877EE 0%, #EF5DA8 100%);
$text-violet: #5D5FEF;
$lg-text-pink: #EF5DA8;
$heading-text: #3877EE;
$sm-text-pink: #F178B6;
$main-text: #42567A;
$main-text-muted: #42567a73;